.row
  .span2
  .span8
    %h2 About Tufts Confessions
    %p 
      Inspired by the Tufts Confessions Facebook page, Tufts Confessions is a
      posting website where members of the Tufts community (and outsiders, if they want) 
      can share their secrets or comment on other posts anonymously, through the site or
      via text. Clicking on posts will show their comments. 
      You can also tag previous posts with '#[post number]', e.g. '#5 is so true!'
       
    %p
      There are no submission rules. However, we ask that you respect the privacy of others.
      If you mention another person by name with a negative or inflammatory comment, your post
      %b will be deleted. 
      If you see an inappropriate submission, we ask that you help flag it for 
      removal.
    
    %p
      %b If we feel this site is being misued, we will shut it down. 
    
       
    %p
      Concerned about security? We filter out any information about where incoming texts are
      coming from before the text is stored and from our logs, including phone number and regional information.
      We don't store any IP addresses.
      
    %p
      However, we might be forced to change this policy if posts are life-threatening or 
      contain information about a crime. Please, if you are thinking about harming yourself or others, contact one of
      the following resources!:
    
    %p 
      National Suicide Prevention Lifeline: 1-800-273-TALK (1-800-273-8255)
      %br/ 
      National Crisis Hotline: 1-800-SUICIDE (1-800-784-2433)
      %br/ 
      Boston Area Rape Crisis Center hotline: 1-800-841-8731
      %br/ 
      TUPD Emergency Line: 617-627-6911
      %br/ 
      Tufts Counseling and Mental Health Services: 617-627-3360 (M-F, 9am-5pm)
      %br/ 
      TUPD Non-Emergency Line: 617-627-3030 (After hours)
      %br/ 
      Tufts Ears for Peers: 617-627-3888 (7pm to 7am)
    
    %p
      TC was built with Ruby on Rails, Twilio, git, and Bootstrap. 
      
    %p
      TC is based on the page created by Nikki Dahan and was developed by Amanda Hay, Juan Carlos Montemayor Elosua, and Jessie Serrino.
    