// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#confCommentForm{
    padding: 20px;
    margin-right: 20px;
    
    #newCommentTxtArea{
        width: 500px;
    }
}

.comment{
  background-color: #3B424C;
  width: 600px;
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.created_at{
  color: white;
  float: none;
  text-align: right;
  font-size: 10px;
}
